{% load static %}
<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% include 'includes/styles_and_fonts.html' %}
    <link href="{% static 'css/style.css' %}" rel="stylesheet">
    <title>{% block title %}Система управления техническим обслуживанием{% endblock title %}</title>
  </head>
  <body>
      {% block content %}Контент{% endblock content %}
    {% include 'includes/scripts.html' %}
  </body>
</html>
