<html lang="ru">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  {% include 'includes/styles_and_fonts.html' %}
<title>Сброс пароля</title>
</head>
<body>
  <div class="row justify-content-center">
    <div class="col-md-6 p-5">
      <div class="card">
        <div class="card-header h4"><strong>Сброс пароля</strong></div>
          <div class="card-body">
            {% include 'users/includes/render_form.html' %}
            {# BUTTONS #}
            <div class="col-md-12 text-center">
              <button type="submit" class="btn btn-primary">Сбросить пароль</button>
              <a class="btn btn-secondary" href="{% url 'users:login'%}" role="button">Отмена</a>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
  {% include 'includes/scripts.html' %}
</body>
</html>
