<html lang="ru">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  {% include 'includes/styles_and_fonts.html' %}
<title>Пароль изменен</title>
</head>
<body>
  <div class="row justify-content-center">
    <div class="col-md-6 p-5">
      <div class="card">
        <div class="card-header h4"><strong>Пароль изменен</strong></div>
          <div class="card-body">
            <div class="col-md-12 text-center">
              <p class="display">Пароль успешно изменен! Вы можете использовать новый пароль для входа в систему.</p>
            </div>
          </div>
        </div>
        <div class="text-center">
          <p><a class="text-decoration-none" href="{% url 'users:login'%}" role="button">Войти в систему</a></p>
        </div>
  </div>
</div>
  {% include 'includes/scripts.html' %}
</body>
</html>
