<html lang="ru">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  {% include 'includes/styles_and_fonts.html' %}
<title>Сброс пароля</title>
</head>
<body>
  <div class="row justify-content-center">
    <div class="col-md-6 p-5">
      <div class="card">
        <div class="card-header h4"><strong>Сброс пароля</strong></div>
          <div class="card-body">
            <div class="col-md-12 text-center">
              <p class="display">Инструкции для сброса пароля отправлены на указанную почту (если аккаунт с таким адресом почты существует)</p>
            </div>
          </div>
        </div>
  </div>
</div>
  {% include 'includes/scripts.html' %}
</body>
</html>
