{% extends 'base.html' %}
{% block content %}
<div class="row justify-content-center">
    <div class="col-md-6 p-5">
      <div class="card">
        <div class="card-header h4"><strong>Изменение пароля</strong></div>
          <div class="card-body">
            {% include 'users/includes/render_form.html' %}
            {# BUTTONS #}
            <div class="col-md-12 text-center">
              <button type="submit" class="btn btn-primary">Изменить пароль</button>
              <a class="btn btn-secondary" href="{% url 'reports:index'%}" role="button">Отмена</a>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
{% endblock content %}