{% extends 'includes/card_with_notification_no_navbar.html' %}
{% block title %}Пароль изменен{% endblock title %}
{% block header_text %}Пароль изменен{% endblock header_text %}
{% block card_text %}
<p class="display">Пароль успешно изменен! Вы можете использовать новый пароль для входа в систему.</p>
{% endblock card_text %}
{% block additional_link %}
<div class="text-center">
  <p><a class="text-decoration-none" href="{% url 'users:login'%}" role="button">Войти в систему</a></p>
</div>
{% endblock additional_link %}
