{% extends 'users/base_without_navbar.html' %}
{% block title %}Изменение пароля{% endblock title %}
{% block content %}
  {% if validlink %}
    {% with card_header="Изменение пароля" submit_button="Изменить" %}
    {% url 'reports:index' as  cancel_url %}
      {% include 'users/includes/card_with_form.html' %}
    {% endwith %}
  {% else %}
  <div class="row justify-content-center">
    <div class="col-md-6 p-5">
      <div class="card">
        <div class="card-header h4"><strong>Изменение пароля</strong></div>
          <div class="card-body">
            <div class="col-md-12 text-center">
              <p class="display">Ссылка, которую вы используете, содержит ошибку либо устарела!</p>
            </div>
          </div>
      </div>
    </div>
  </div>
  {% endif %}
{% endblock content %}
