{% extends 'includes/card_with_notification_no_navbar.html' %}
{% block title %}Регистрация в системе{% endblock title %}
{% block header_text %}Регистрация в системе{% endblock header_text %}
{% block card_text %}
<p class="display">
Вы успешно зарегистрировались!
Пожалуйста, ожидайте одобрение вашего аккаунта администратором.
Когда Ваш аккаунт будет одобрен, вы сможете использовать его для входа в систему. Вы получите уведомление по электронной почте
</p>
<p class="display"><small>Для ускорения процесса, Вы можете связаться с администратором (С.И.А.) любым удобным способом.</small></p>
{% endblock card_text %}
{% block additional_link %}
<div class="text-center">
  <p><a class="text-decoration-none" href="{% url 'users:login'%}" role="button">Перейти на страницу входа</a></p>
</div>
{% endblock additional_link %}
