{% load static %}
{% load user_filters %}
{% count_overdue_schedules as count_overdue %}
{% count_uncompletable_schedules as count_uncomletable %}
{% count_schedules_without_photo_approvals as count_no_photo %}
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-xxl">
    <a class="navbar-brand" href="{% url 'reports:index' %}">
      <img src="{% static 'img/navbar_logo.png' %}" alt="" width="50" height="50">
      <span class="text-muted">Выполнение ППР КС-45</span>
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ms-auto mb-2 mb-lg-0">

        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown">
            <i class="fas fa-download"></i> Загрузки
          </a>
          <ul class="dropdown-menu">
            <li>
              {% now "n" as current_month %}
              <a class="dropdown-item" style="cursor:pointer" onclick="showModalForm({% url 'reports:xlsx_report' %});"><i class="fas fa-file"></i> Протокол выполнения</a>
            </li>
            <li><a class="dropdown-item" href="{% url 'reports:next_month_plan_xlsx' %}"><i class="fas fa-table"></i> План на следующий месяц</a></li>
          </ul>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown">
            <i class="fas fa-screwdriver"></i> Посмотреть план
            {% if count_overdue %}
              <span class="badge badge-pill bg-danger">{{ count_overdue|add:count_no_photo }}</span>
            {% endif %}
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="{% url 'reports:day_schedule' %}">Сегодня</a></li>
            <li><a class="dropdown-item" href="{% url 'reports:week_schedule' %}">Эта неделя</a></li>
            <li><a class="dropdown-item" href="{% url 'reports:month_schedule' %}">Этот месяц</a></li>
            <li><a class="dropdown-item" href="{% url 'reports:next_month_schedule' %}">Следующий месяц</a></li>
            <li>
              <a class="dropdown-item" href="{% url 'reports:overdue' %}">
                Просроченные
                <span class="badge badge-pill {% if count_overdue %}bg-danger{% else %}bg-secondary{% endif %}">{{ count_overdue }}</span>
              </a>
            </li>
            <li>
              <a class="dropdown-item" href="{% url 'reports:uncompletable' %}">
                Невыполнимые
                <span class="badge badge-pill bg-secondary">{{ count_uncomletable }}</span>
              </a>
            </li>
            <li>
              <a class="dropdown-item" href="{% url 'reports:no_photo_apporval' %}">
                Не загружено фото
                <span class="badge badge-pill bg-danger">{{ count_no_photo }}</span>
              </a>
            </li>
          </ul>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'reports:search' %}"><i class="fas fa-search"></i> Поиск работ</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'bugtracker:index' %}"><i class="fas fa-bug"></i> Замечания к системе</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown">
            <i class="fas fa-user"></i> {{ user.get_username }}
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="{% url 'users:password_change' %}"><i class="fas fa-key"></i> Изменить пароль</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="{% url 'users:logout' %}"><i class="fas fa-sign-out-alt"></i> Выйти</a></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
{% include 'reports/includes/modal_window.html' %}
</nav>  