<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-xxl">
    <a class="navbar-brand" href="{% url 'reports:index' %}"><span class="fw-bold">ППР КС-45</span></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown">
            Посмотреть план
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="{% url 'reports:day_schedule' %}">День</a></li>
            <li><a class="dropdown-item" href="{% url 'reports:week_schedule' %}">Неделя</a></li>
            <li><a class="dropdown-item" href="{% url 'reports:month_schedule' %}">Месяц</a></li>
            <li><a class="dropdown-item" href="{% url 'reports:year_schedule' %}">Год</a></li>
          </ul>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown">
            Имя Пользователя
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="#">Посмотреть профиль</a></li>
            <li><a class="dropdown-item" href="#">Изменить пароль?</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="#">Выйти</a></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>  