{% load static %}
<!DOCTYPE html>
<html lang="ru">
  <head>
    {% comment %} TODO: Добавить метатеги! Добавить бутстрап классы! {% endcomment %}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" href="{% static 'img/navbar_logo.png' %}">
    {% include 'includes/styles_and_fonts.html' %}
    <title>{% block title %}Система управления техническим обслуживанием{% endblock title %}</title>
  </head>
  <body class="d-flex flex-column min-vh-100">
    {% include 'includes/navbar.html' %}
    <main>
      <div class="container"> {# перенести сюда основной контейнер? #}
        {% block content %}Контент{% endblock content %}
      </div>
    </main>
    {% include 'includes/scripts.html' %}
  </body>
  {% include 'includes/footer.html' %}
</html>
